*{
   user-select: none;
   -ms-user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   scrollbar-width: none;
   box-shadow: none;
   -moz-user-focus: transparent;
   -webkit-user-focus: transparent;
   -ms-user-focus: transparent;
}

*:focus {
   outline: none;
   box-shadow: none;
}

body {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
background-color: #000;
overflow: hidden;
}

.enterFullscreenBtn {
padding: 10px 20px;
font-size: 16px;
background-color: #1e4271;
color: #cfe8ff;
border: none;
border-radius: 5px;
cursor: pointer;
}

.birthdayCard {
position: relative;
width: 250px;
height: 350px;
cursor: pointer;
transform-style: preserve-3d;
transform: perspective(2500px);
transition: 4s;
box-shadow: inset 100px 20px 100px rgba(255, 255, 255, 0.3),
   0 10px 50px rgba(255, 255, 255, 0.3);
filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
border-radius: 10px;

}

.birthdayCard:hover {
transform: perspective(2500px) rotate(5deg);
}

.birthdayCard:hover .cardFront {
transform: rotateY(-160deg);
transition: 1s;
}

.birthdayCard:hover .front-text {
transform: rotateY(180deg);
transition: 1s;
}

.birthdayCard:hover .wrap-deco {
transform: rotateY(-180deg);
transition: 1s;
}

.birthdayCard:hover .wrap-decoTwo {
transform: rotateY(180deg);
transition: 1s;
}

.birthdayCard:hover .plate {
transform: rotateY(180deg);
transition: 1s;
}

.cardFront {
position: relative;
background-color: #fff;
width: 250px;
height: 350px;
overflow: hidden;
transform-origin: left;
transform-style: preserve-3d;
box-shadow: inset 100px 20px 100px rgba(255, 255, 255, 0.3),
   0 10px 50px rgba(255, 255, 255, 0.3);
transition: 0.4s;
border-radius: 0 10px 10px 0;
}

.happy,
.toyou {
position: relative;
font-family: didot;
text-align: center;
backface-visibility: hidden;
font-size: 30px;
}

.happy {
top: 188px;
font-size: 40px;
}

.toyou {
top: 113px;
}

.bday {
position: relative;
font-family: arial;
font-size: 35px;
text-align: center;
top: 143px;
}

.wrap-deco {
position: absolute;
top: -230px;
left: -200px;
}

.decorations {
position: absolute;
width: 400px;
height: 300px;
border: 3px solid #333;
border-radius: 50%;
}

.decorations:before,
.decorations:after,
.decorationsTwo:before,
.decorationsTwo:after,
.decorationsThree:before,
.decorationsThree:after {
content: "";
position: absolute;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
width: 0;
height: 0;
}

.decorations:before {
border-top: 40px solid #f15bb5;
top: 297px;
left: 210px;
transform: rotate(-5deg);
}

.decorations:after {
border-top: 40px solid #f4d35e;
top: 288px;
left: 260px;
transform: rotate(-17deg);
}

.decorationsTwo:before {
border-top: 40px solid #00f5d4;
top: 268px;
left: 315px;
transform: rotate(-30deg);
}

.decorationsTwo:after,
.decorationsThree:after {
border-top: 40px solid #9b5de5;
top: 238px;
left: 355px;
transform: rotate(-40deg);
}

.wrap-decoTwo {
transform: scaleX(-1);
position: absolute;
top: -230px;
left: 445px;
}

.decorationsThree:before {
border-top: 40px solid #00bbf9;
top: 268px;
left: 315px;
transform: rotate(-30deg);
}

.plate {
position: absolute;
width: 130px;
height: 5px;
background-color: #00bbf9;
left: 60px;
top: 213px;
}

.cake {
position: absolute;
overflow: hidden;
width: 100px;
height: 50px;
background-color: #f15bb5;
border-radius: 10px 10px 0 0;
top: -50px;
left: 15px;
box-shadow: inset 0 -15px #f9c74f, inset 0 15px #432818;
}

.cake:before {
content: "";
position: absolute;
background-color: #432818;
width: 10px;
height: 20px;
top: 5px;
border-radius: 20px;
box-shadow: 10px 5px #f15bb5, 20px 0px #432818, 30px 2px #f15bb5,
   40px 5px #432818, 50px 5px #f15bb5, 60px 0px #432818, 70px 5px #f15bb5,
   80px 5px #432818, 90px 5px #f15bb5;
}

.plate:before {
content: "";
position: absolute;
background: repeating-linear-gradient(
   -45deg,
   #9b5de5,
   #9b5de5 3px,
   #00f5d4 3px,
   #00f5d4 6px
);
width: 7px;
height: 25px;
top: -75px;
left: 61px;
}

.plate:after {
content: "";
position: absolute;
width: 1px;
height: 5px;
background-color: #333;
top: -80px;
left: 64px;
}

.flame {
position: absolute;
background-color: #fb5607;
border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
transform: rotate(-45deg);
width: 15px;
height: 15px;
opacity: 0.7;
top: -93px;
left: 57px;
box-shadow: 2px 2px 5px rgba(251, 86, 7, 0.5);
animation: flicker 1s infinite;
}

@keyframes flicker {
0%, 100% {
   transform: rotate(-45deg) scale(1);
   opacity: 0.7;
}
25%, 75% {
   transform: rotate(-45deg) scale(0.9);
   opacity: 0.5;
}
50% {
   transform: rotate(-45deg) scale(1.1);
   opacity: 1;
}
}  

.cardInside {
position: absolute;
background-color: #fff;
width: 250px;
height: 350px;
z-index: -1;
left: 0;
top: 0;
box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.2);
border-radius: 0 10px 10px 0;
}

.inside-text {
position: relative;
top: -170px;
transform: scale(0.7);
}

.wishes {
position: relative;
top: -120px;
margin: 25px;
margin-top: 0px;
}

p {
font-family: "Georgia", serif;
color: #333;
}

.name {
margin-top: -10px;
margin-left: 140px;
text-wrap: nowrap;
margin-bottom: 100px;
font-family: arial;
font-weight: bold;
}

.musicButton{
   width: 50px;
   height: 50px;
   background-color: rgba(22, 0, 144);
   filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
   color: #cfe8ff;
   font-size: 30px;
   text-align: center;
   line-height: 50px;
   border: 2px solid #b1d8fd;
   border-radius: 50%;
   position: fixed;
   bottom: 20px;
   right: 20px;
   cursor: pointer;
}

.cardFront:focus, .cardInside:focus, .cardInside:focus, .birthdayCard:focus, .musicButton:focus {
   outline: none;
   box-shadow: none;
}