*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.content{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 80%;
   background-color: black;

}